.comment {
  display: flex;
  gap: 15px;
  max-width: 400px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}
.left {
  flex: 1;
}
.right {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  text-decoration: none;
  color: black;
}
